<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/134da7a391.js"
      crossorigin="anonymous"
    ></script>
    <script src="./index.js" defer></script>
    <script src="./clock.js" defer></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="./dynamicstore.html">STORE</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./orders.html">ORDERS</a></li>
        </ul>
        <h1 >Books Store</h1>
        <div id="autoText"><p><h3>Dont Wait ,Buy Book Now and INCREASE YOUR KNOWLEDGE</h3></p></div>
    </header>

    <h1> Current Time is <span id="time"> </span></h1>
<section>
        <div class="container mt-5">
            <div class="homeproducts">
              <h1 class="text-center homeproducttitle">BOOKS</h1>
      
              <table class="table table-striped table-hover mt-5">
                <tbody class="text-center">
                  <tr>
                    <th scope="row">Better humans</th>
                    <td>₹ 51</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                  <tr>
                    <th scope="row">facts about uoga</th>
                    <td>₹ 333</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                  <tr>
                    <th scope="row">yoga for youngster</th>
                    <td>₹ 300</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Self-development</th>
                    <td>₹ 285</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Teaching-yoga</th>
                    <td>₹ 200</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Growing with yoga</th>
                    <td>₹ 99</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                  <tr>
                    <th scope="row">Why yoga</th>
                    <td>₹ 143</td>
                    <td><button class="btn btn-outline-dark">BUY</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </section>
    
    <footer>
        <div class="footer-title">
            Books Store
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href="https://github.com/sonuengineer">
                    <img src="../images/github.jpg" alt="">
                </a></li>
                <li><a href="https://www.instagram.com/sonu_prajapati50/">
                    <img src="../images/Instagram_icon.png.webp" alt="">
                </a></li>
                <li><a href="https://www.linkedin.com/in/sonu-prajapati-213073b5/">
                    <img src="../images/linkdin.png" alt="">
                </a></li>
            </ul>
        </div>
        
    </footer>
</body>
</html>