<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Project</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" ></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./dynamicstore.html">STORE</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="">ORDERS</a></li>
        </ul>
        <h1>Book Store</h1>
    </header>
   
    <section id="orders">
        <h1>Your Orders</h1>
        <div id="orders-content">
        </div>
    </section>
    <div id="pagination">
    </div>
    <footer>
        <div class="footer-title">
           Book Store
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href="https://github.com/adarshahelvar">
                    <img src="../images/github.jpg" alt="">
                </a></li>
                <li><a href="https://www.instagram.com/adarsh_helvar/">
                    <img src="../images/Instagram_icon.png.webp" alt="">
                </a></li>
                <li><a href="https://www.linkedin.com/in/adarshahelvar/">
                    <img src="../images/linkdin.png" alt="">
                </a></li>
            </ul>
        </div>
        
    </footer>
    <script src="./index.js" defer></script>
</body>
</html>